<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head.ejs") %>
		<title>sebmandal</title>
	</head>
	<body class="container-md blog-post">
		<div class="text-center container">
			<%- include("../partials/nav.ejs") %> <% if (post === undefined) { %>
			<h1>The blog post specified does not exist.</h1>
			<% } else { %>
			<h1><%= post.title %></h1>
			<h4 class="fst-italic"><%= post.description %></h4>
			<p class="text-muted fst-italic"><%= post.date %></p>
			<div><%- post.content %></div>
			<% } %>
		</div>

		<hr />

		<%- include("../partials/footer.ejs") %>
	</body>
</html>
